.inputWrapper{
	margin: 20px;
}

.inputWrapper > textarea,
.inputWrapper > input,
#tagwrapper{
	display: block;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.3);
	background: white;
	padding: 8px;
	border-radius: 2px;
}

.inputWrapper > textarea,
.inputWrapper > input{
	font-size: 22px;
}

#tagwrapper{
	padding-top: 0px;
}


#tagwrapper .container{
	display: inline-block;
}

#tagwrapper > input {
	border: none;
	background: transparent;
	margin-top: 8px;
	font-size: 18px;
	width: 100px;
	padding: 2px;
}

#tagwrapper .tag{
	display: inline-block;
	border: 1px solid rgba(0,0,0,.3);
	background: rgba(0,0,0,.15);
	padding: 2px 4px;
	border-radius: 2px;
	font-size: 18px;
	color: #6f6f6f;
	margin: 8px 6px 0 0;

}

.inputWrapper > textarea:focus,
.inputWrapper > input:focus{
	border-color: #3c9244;
}

#reviewForm .button,
#registrationForm .button,
#loginForm .button{
	display: block;
	margin: 0 auto;
	padding: 0 30px;
	font-size: 18px;
	height: 50px;
}

.inputDescription{
	margin-bottom: 8px;
	color: #6d6d6d;
}

.intro{
	margin: 20px;
	color: #6d6d6d;
	line-height: 20px;
}

.exhibitionName{
	font-weight: bold;
	font-size: 18px;
}

#profileView{
	padding: 20px;
}

#profileView .imageContainer{
	background-image: url("/res/profile.png");
	background-size: cover;
	height: 150px;
	width: 150px;
	margin: 0 auto;
}

.infoContainer{
	margin-top:20px;
}

.infoContainer .info{
	padding: 10px;
	font-size: 18px;
	border-bottom: 1px solid rgba(0,0,0,.3);
}

.infoContainer .info .infoName{
	color: #6d6d6d;
}

.infoContainer .info .infoValue{
	font-weight: bold;
	color: #3c9244;
	float: right;
}

#profileView a.button{
	display: block;
	margin: 20px auto 0;
	padding: 20px;
	font-weight: bold;
	text-decoration: none;
}

.unloggedPanel{
	font-size: 18px;
	color: #6f6f6f;
	text-align: center;
	line-height: 30px;
}

.unloggedPanel a{
	color: #3c9244;
	text-decoration: none;
}