
.chartElemDescriptor{
	display: inline-table;
}

.chartIntro{
	margin: 10px;
	color: #45652E;
	line-height: 30px;
	font-size: 25px;
}

.homeImage{
	background: transparent url("/res/home.png") left no-repeat;
	background-size: 435px 430px;
	height: 435px;
	background-position: center;
}