
.chartElemDescriptor{
	display: inline-table;
}

.chartIntro{
	margin: 10px;
	color: #45652E;
	line-height: 30px;
	font-size: 25px;
}

.homeImage{
	background: transparent url("/res/home.png") left no-repeat;
	background-size: contain;
	height: 435px;
	background-position: center;
	box-shadow: 0 -2px 2px -2px rgba(0,0,0,.3) inset;
}

.welcomeContainer {
	background-color : white;
	padding: 20px;
	text-align: center ;
}

.linkHome{
	color:#FF1090 ;
}